{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Изменение номера телефона
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'main/css/forms.css' %}">


<main class="main">
        <section class="section profile">
    <section class="form-section">
        <div class="container">
            <h1 class="form-title">Изменение номера телефона</h1>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="{% url 'account:change_phone_number' %}" method="post" class="email-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="form-label">Новый номер телефона</label>
                    <input type="text" id="phone_number" name="phone_number" value="{{ request.user.phone_number }}" required>
                </div>
                <button type="submit" class="form-button">Изменить номер</button>
            </form>
        </div>
    </section>
            </section>
</main>



{% endblock %}