{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Список техники
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'main/css/admin.css' %}">
<div class="admin-container">
    <div class="button-container">
        <a href="{% url 'account:create_rental_request'%}" class="confirm-button">Подать заявку</a>
    </div>

    {% if equipment %}
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Поиск по технике..." onkeyup="filterTable()" class="search-input">
    </div>

    <table class="equipment-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Грузоподъемность</th>
                <th>Вылет стрелы</th>
                <th>Высота подъема</th>
                <th>Объем кузова</th>
                <th>Гос номер</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody id="equipment-list">
            {% for item in equipment %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.lifting_capacity }}</td>
                <td>{{ item.boom_reach }}</td>
                <td>{{ item.lift_height }}</td>
                <td>{{ item.body_volume }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">У вас нет техники.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="no-equipment">
        <p>У вас нет техники, добавьте ее на странице добавления.</p>
    </div>
    {% endif %}
</div>
{% endblock %}