{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Мои заказы
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'main/css/admin.css' %}">
<div class="admin-container">
    {% if orders %}
    <div class="search-container">
        <label for="searchInput">Поиск по заказам</label>
        <input type="text" id="searchInput" placeholder="Введите текст для поиска..." onkeyup="filterTable()" class="search-input">
    </div>

    <table class="orders-table" id="ordersTable">
            <thead>
                <tr>
                    <th>Оборудование</th>
                    <th>Имя заказчика</th>
                    <th>Телефон заказчика</th>
                    <th>Дата заказа</th>
                    <th>Время начала</th>
                    <th>Количество часов</th>
                    <th>Адрес</th>
                    <th>Общая стоимость</th>
                    <th>Статус</th>
                    <th>Дата окончания</th>
                    <th>Время окончания</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr id="order-{{ order.id }}">
                        <td>{{ order.equipment.name }} / {{ order.free_equipment.name }}</td>
                        <td>{{ order.customer_name }}</td>
                        <td>{{ order.customer_phone }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.order_time }}</td>
                        <td>{{ order.hours }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.total_cost }} ₽</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.end_date }}</td>
                        <td>{{ order.end_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="no-orders">
        <p>У вас нет заказов.</p>
    </div>
    {% endif %}
</div>
<!-- Скрипт для поиска по таблице -->
<script>
    function filterTable() {
        const input = document.getElementById("searchInput");
        const filter = input.value.toLowerCase();
        const table = document.getElementById("ordersTable");
        const rows = table.getElementsByTagName("tr");

        for (let i = 1; i < rows.length; i++) { // начинаем с 1, чтобы пропустить заголовок
            const cells = rows[i].getElementsByTagName("td");
            let match = false;

            for (let j = 0; j < cells.length; j++) {
                if (cells[j]) {
                    const cellText = cells[j].textContent || cells[j].innerText;
                    if (cellText.toLowerCase().indexOf(filter) > -1) {
                        match = true;
                    }
                }
            }

            rows[i].style.display = match ? "" : "none";
        }
    }
</script>

{% endblock %}
